@font-face {
    font-family: "Archivo";
    src: url("./Fonts/ArchivoNarrow-VariableFont_wght.ttf") ;
  }

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color:bisque;
}

#top {
    margin-top: 2rem;
}

a {
    font-family: "Archivo", sans-serif;
    color: inherit;
    font-size: 3rem;
    font-weight: 900;
    text-decoration: none;
    padding-left: 2rem;
}

#split {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
}

#sideright {
    display: flex;
    flex-direction: row;
    width: 60vw;
    background: rgb(255,255,230);
    background: -moz-linear-gradient(180deg, rgba(255,255,230,1) 0%, rgba(242,242,220,1) 95%, rgba(175,175,157,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,230,1) 0%, rgba(242,242,220,1) 95%, rgba(175,175,157,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,230,1) 0%, rgba(242,242,220,1) 95%, rgba(175,175,157,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffe6",endColorstr="#afaf9d",GradientType=1);
}

#lyricsholder {
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: beige;
}


#lyrics {
    padding: 1rem 0 0 10%;
    display: flex;
    width: 100%;
    background: rgb(255,228,196);
    background: -moz-linear-gradient(180deg, rgba(255,228,196,0.4) 0%, rgba(242,217,186,0.4) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,228,196,0.4) 0%, rgba(242,217,186,0.4) 100%);
    background: linear-gradient(180deg, rgba(255,228,196,0.4) 0%, rgba(242,217,186,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe4c4",endColorstr="#f2d9ba",GradientType=1);
}

#lyrics p {
    letter-spacing: 1px;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

#songimage img {
    position: sticky;
    top: 3rem;
    height: fit-content;
    border: solid black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 2rem 0 0 2rem;
}

#songinfo {
    position: sticky;
    top: 1rem;
    height: fit-content;
    font-family: "Archivo", sans-serif;
    margin: 0 5% 0 5%;
    font-size: 1.4rem;
}

